:root {
  --color-principal: #9f6efc;
  --color-secundario: #77fd72;
  --color-fondotexto: #ffffff;
  --color-codigo: #e9defd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  position: relative;
  overflow: auto;
  background: linear-gradient(var(--color-principal),var(--color-secundario));
}

.contenedor-editor {
  margin: 0 auto;
  max-width: 600px;
}

.banner-editor{
  background-color: var(--color-secundario);
  font-family: Russo one;
  margin-top: 10px;
  padding: 5px;
  height: 2.5rem;
  display: flex;
  vertical-align: center;
  font-size: 1rem;
  align-items: center;
  border: 2px solid black;
  border-bottom: none;
  box-shadow: 1px 1px 10px 2px #0000003a;
}

textarea{
  background-color: var(--color-fondotexto);
  resize: vertical;
  width: 100%;
  min-height: 200px;
  max-height: calc(100vh - 60px);
  border-top: none;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 2px #0000003a;
}

.contenedor-preview {
  margin: 0 auto;
  max-width: 800px;
}

.banner-preview{
  background-color: var(--color-secundario);
  font-family: Russo one;
  margin: 10px auto 0;
  padding: 5px;
  height: 2.5rem;
  display: flex;
  vertical-align: center;
  font-size: 1rem;
  align-items: center;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 2px #0000003a;

}

.texto-preview{
  background-color: var(--color-fondotexto);
  text-align: left;
  min-height: 200px;
  border-top: none;
  padding: 15px;
  margin: 0 auto;
  font-size: 1rem;
  border: 2px solid black;
  border-top: none;
  box-shadow: 1px 1px 10px 2px #0000003a;
  overflow-wrap: break-word;
}

.fa-arrows-alt, .fa-compress {
  margin-left: auto;
  padding-right: 10px;
}

.fa-arrows-alt:hover, .fa-compress:hover {
  color: var(--color-principal)
}

#preview h1 {
 border-bottom: 2px solid black;
 margin: 20px 0;
}

#preview h2 {
  border-bottom: 1px solid black;
  margin: 20px 0;
}

#preview h3 {
  margin: 20px 0;
}

#preview p {
  margin: 16px 0;
}

#preview pre {
  overflow: auto;
  margin: 16px 0;
  padding: 10px 20px;
  background-color: var(--color-codigo);
}

#preview code {

  background-color: var(--color-codigo);
}

#preview blockquote {
  margin: 16px 30px ;
  padding: 0 5px;
  border-left: 3px solid black;
}

#preview table {
  border-collapse: collapse;
  margin: 16px 0;
}

#preview  th, #preview td{
  padding: 5px 8px;
  border: 2px solid black;
}

#preview ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 20px 0;
}

#preview ul ul {
  list-style-type: circle;
  margin: 10px 0;
}

#preview ul ul ul {
  list-style-type: square;
}

#preview ol{
  margin: 16px 40px; 
}

#preview ol li{
  margin: 5px;
}

#preview img{
  margin: 30px 0;
  width: 100%;
  height: 75px;
}
.firma {
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .contenedor-editor{
    width: 80vw;
    min-width: 200px
  }

  .texto-preview, .banner-preview{
    width: 89vw;
    min-width: 200px
  }
}